<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Peek</title>
  <link rel="stylesheet" href="stylesheets/peek.css">
  <style>
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #peek {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: #ccc;
    overflow: hidden;
  }
  
  .item {
    width: 150px;
  }
  
  #enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
  }
  
  #exit {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
    background: #000;
    color: #fff;
    z-index: 1;
    cursor: pointer;
  }
  
  body.peek { overflow: hidden; }
  
  #exit { display: none; }
  body.peek #exit { display: inherit; }
  
  #enter { display: inherit; }
  body.peek #enter { display: none; }
  
  body.peek #peek {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  </style>
</head>
<body>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <div id="peek">
    <div id="enter"></div>
    <div id="exit">Back</div>
  </div>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
  <script type="text/template" id="item-template">
<div class="item" style="background: <%= data.color %>; height: <%= data.height %>px;"></div>
</script>
  
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/underscore.js"></script>
  <script src="javascripts/peek.js"></script>
  <script src="javascripts/column.js"></script>
  <script>
  
  var template = _.template($("#item-template")[0].textContent, null, { variable: "data" });
  var peek = new Peek("#peek", template, 150);

  var colors = ["red", "green", "blue", "yellow", "orange", "purple"];
  var items = [];
  
  for (var i = 0; i < 100; i++) {
    items.push({
      color: colors[Math.floor(Math.random() * colors.length)],
      height: 100 + Math.floor(Math.random() * 200)
    });
  }
  
  peek.add(items);
  peek.start();
  
  $("#enter").on("click", function() {
    var offset = $("#peek").offset().top - window.scrollY;
    peek.offset(offset);
    
    $(document.body).addClass("peek");
  });
  
  $("#exit").on("click", function() {
    $(document.body).removeClass("peek");
    
    _.defer(function() {
      var offset = $("#peek").offset().top - window.scrollY;
      peek.offset(-offset);
    });
  });
  
  </script>
  
</body>
</html>
