/* style */

body {
  background: #fff;
  font-family: helvetica;
  font-size: 16px;
}

h1, h2 {
  color: #111;
  font-family: "Avenir Next", helvetica, sans-serif;
  font-weight: 600;
}

b { font-weight: bold; }
i { font-style: italic; }

a {
  color: #1d759f;
}



/* structure */

body {
  margin: 0;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/header.png) center top no-repeat;
  height: 111px;
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  z-index: 1;
}

#footer {
  background: url(../images/footer.png) center top no-repeat;
  height: 57px;
  width: 100%;
  min-width: 960px;
}

#wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

#peek {
  background: url(background.png) top center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about {
  margin-top: 500px;
}

#enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#enter-inner {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#enter a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 15px 20px;
  
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
  font-family: "Avenir Next", helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  -webkit-font-smoothing: antialiased;
}

#enter:hover a {
  background: rgba(0, 0, 0, 0.9);
}

#exit {
  display: none;
}
  
#exit a {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  
  padding: 15px 20px;
  
  background: rgba(17, 17, 17, 0.8);
  color: #fff;
  font-family: "Avenir Next", helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;

  border-radius: 5px;

  -webkit-font-smoothing: antialiased;
}

#exit a:hover {
  background: rgba(0, 0, 0, 0.9);
}

  
body.peek #header, body.peek #about, body.peek #footer {
  display: none;
}

body.peek #wrap {
  height: 100%;
}

body.peek #enter {
  display: none;
}

body.peek #exit {
  display: inherit;
}


/* peek */

#peek {
  position: relative;
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: #ccc;
}

#peek-inner {
  position: absolute;
  height: 100%;
  left: 50%;
}

#peek-inner .column {
  position: absolute;
  top: 0;
  height: 100%;
  width: 190px;
}

#peek-inner .column img {
  margin: 5px 0 0 5px;
  width: 185px;
  display: block;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}


/* about */

#headline h1 {
  margin: 0 auto;
  margin-top: -1px;
  padding-top: 30px;
  width: 960px;
  color: #000;
  font-size: 250%;
  text-align: center;
  line-height: 1.2;
}

#about .row {
  margin: 30px auto;
  width: 960px;
}

#about .row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#about .half {
  float: left;
  width: 420px;
  margin-left: 40px;
}

#how h2, #what h2 {
  margin: 0px 0 10px 0;
  font-size: 150%;
  line-height: 1.2;
}

#case-study-content h1 {
  margin: 0px 0 10px 0;
  font-size: 150%;
  line-height: 1.2;
}

#how p, #what p, #case-study-content p {
  margin: 10px 0;
  line-height: 1.3;
  font-size: 100%;
}

#case-study-illustration-placeholder {
  background: url(../images/rla.png);
  height: 300px;
}
