

#fake-header, #headline, #about, #overlay {
  display: none;
}

/* */

#peek-wrap {
  position: absolute;
  background: #ccc;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#peek {
  position: absolute;
  height: 100%;
  left: 50%;
}

.column {
  position: absolute;
  top: 0;
  height: 100%;
  width: 190px;
}

.column img {
  margin: 5px 0 0 5px;
  width: 185px;
  display: block;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
